
body{
    padding: 5px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header {
    margin-top: 20px;
}
.media {
    display: flex;
    align-items: center;
}
.media a {
    display: inline-flex;
    margin-right: 12px;
}
h1 {
    text-align: center;
}
.news {
    text-align: center;
}
a {
    color: darkred;
}
a:visited {
    color: blue;
}
a:hover {
    color:green
}
nav {
    display: flex;
    flex-direction: row;
}
nav ul li {
    overflow:auto;
    display: inline;
    width: auto;
    margin: 5px;
    padding: 5px;
    font-size: 1.2em;
    text-align: center;  
}
ul li a {
    text-decoration: none;
}
article {
    display: flex;
    padding: 10px;
    font-size: 1.1em;
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif; 
    width: 80%;
    margin: auto;
}
article p {
    background-color:peru;
}
p {
    margin: 10px;
    padding: 10px;
    text-align: left;
}
footer {
    background-color:royalblue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
}
footer div h2 {
    font-size: 1.1rem;
    margin-bottom: 0.75rem;
}
footer ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}